<launch>
    <arg name="output" default="screen"/>
    <arg name="dataFilePath" default="$(find phone_publisher)/data/quaternion.txt"/>
    <arg name="secs" default="0"/>
    <arg name="nsecs" default="0"/>
    <arg name="bagFile" default="phone_imu"/>

    <node pkg="phone_publisher" name="phone_publisher" type="phone_publisher" output="$(arg output)">
        <param name="dataFilePath" type="string" value="$(arg dataFilePath)"/>
        <param name="secs" type="int" value="$(arg secs)"/>
        <param name="nsecs" type="int" value="$(arg nsecs)"/>
    </node>

    <node pkg="rosbag" type="record" name="phone_recorder" 
        args="record -O $(find phone_publisher)/data/$(arg bagFile) /phone/imu"/> 
</launch>
